.editor {
  display: flex;
  flex-direction: column;

  .editor_title {
    padding: 15px;
    border: 1px solid rgb(228, 231, 235);
    text-align: left;
    color: #375eab;
    font-size: 20px;
  }
}

//background: #375eab;
