header {
	padding: 20px;
}

.header-wrapper {
	display: flex;

	div {
		width: 50%;
	}
}

h1 {
	font-size: 34px;
	font-weight: bold;
	line-height: 1.5em;
}

p {
	font-size: 1.1em;
	margin-top: 20px;
	line-height: 1.5em;
}

@media (max-width: 800px) {
	.header-wrapper {
		flex-direction: column;

		div {
			width: 100%;
		}
	}
}
